<%= form_with(model: @feed, local: true, url: choose_new_or_edit) do |form| %>
  <div class="field">
    <%= form.label :image %>
    <%= form.label :content %>
    <%= form.text_area :content %>

    <%= form.label :image %>
    <%= form.file_field :image %>
    <!-- 確認画面から新規作成画面に戻った時に、 -->
    <!-- アップロードした画像を表示させるための記述 -->
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>

    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
