<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <% if @user.image.url.present? %>
    <%= image_tag @user.image.url if @user.image.url %>
  <% end %>

</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @user.content %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
